<!DOCTYPE html>
<html>
<head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" rel="stylesheet" href="__STATIC__/appapi/css/about.css?t=4"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/layui/layer.css"/>
    <title>{:lang("关于短视频")}</title>
</head>
<body>

<div class="icon_area">
    <img src="{:get_upload_path('email/POPO%20114.png')}" style="width: 80.5997px; height: 80.5997px;">
</div>
<div class="edition">{:lang("版本号")} {$version}</div>
<ul class="artice_list">
    <a href="/appapi/page/news?id=9&lang={$lang}">
        <li>{:lang("用户协议")}</li>
    </a>
    <a href="/appapi/page/news?id=8&lang={$lang}">
        <li>{:lang("服务和隐私条款")}</li>
    </a>
    <a href="/appapi/page/questions?lang={$lang}">
        <li>{:lang("常见问题")}</li>
    </a>
    <a href="/appapi/service/index?lang={$lang}">
        <li>{:lang("联系客服")}</li>
    </a>
    <a href="/appapi/feedback/index?user={$user}&model={$device}&lang={$lang}">
        <li>{:lang("我要反馈")}</li>
    </a>

</ul>

</body>
</html>