body{
    background:#A500FF;
}
.agentshare{
    height: 100%;
    position:absolute;
    background: url(../images/agentshare/bg.png) no-repeat;
    z-index: -1;
}

.agentshare .agentshare_img img{
    width:100%;
}
.agentshare .agentshare_bottom{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:1.4rem;
    background:rgba(0,0,0,0.3);
}
.agentshare .agentshare_bottom .bottom_l{
    float:left;
    width:50%;
    height:1.4rem;
    line-height:1.4rem;
    text-align:center;
}
.agentshare .agentshare_bottom .bottom_l img{
    display:block;
    margin:0.425rem auto;
    width:3.19rem;
    height:0.55rem;
}
.agentshare .agentshare_bottom .bottom_r{
    float:left;
    width:50%;
    height:1.4rem;
}
.agentshare .agentshare_bottom .bottom_r .down_btn{
    margin:0.2rem auto 0;
    width:3.2rem;
    height:1rem;
    line-height:1rem;
    text-align:center;
    color:#fff;
    font-size:0.34rem;
    border-radius:0.5rem;
    
    background: -webkit-linear-gradient(#E78488, #DB546C); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#E78488, #DB546C); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#E78488, #DB546C); /* Firefox 3.6 - 15 */
    background: linear-gradient(#E78488, #DB546C); /* 标准的语法 */
}

.tips{
    display:none;
    position:absolute;
    top:0.5rem;
    right:0.2rem;
    padding: 0.3rem 0.1rem;
    line-height:0.3rem;
    text-align:center;
    color:#ffffff;
    font-size:0.24rem;
    background:#323232;
    border-radius:0.2rem;
}
.tips .tips_mark{
    position:absolute;
    top:-0.29rem;
    right:0.3rem;
    width:0.3rem;
    height:0.3rem;
    background:url(../images/agentshare/tips_mark.png) no-repeat center;
    background-size:0.3rem;
}

.logo{
    text-align: center;
    padding-top: 0.8rem;
}
.logo img{
    width: 1.3rem;
    border-radius: 0.2rem;
    border: 0.02rem solid #CCC;
}
.logo .app_name{
    font-size: 0.3rem;
    color: #FFF;
}

.code_area{
    width: 5.5rem;
    background: url(../images/agentshare/code_bg.png) no-repeat center center;
    background-size:100%;
    height: 6rem;
    margin:0 auto;
    margin-top: 4rem;
}

.code_area .code_area_con{
    height: 6rem;
}



.code_area_user, .code_area_down{
    width: 100%;
    height: 4rem;
}

.code_area_user .userinfo_area{
    height: 1.5rem;
    font-size: 0.2rem;
}

.code_area_user .userinfo_area .avatar{
    width: 40%;
    height: 1.5rem;
    float: left;
    text-align: right;
    padding-right: 5%;
}

.code_area_user .userinfo_area .avatar img{
    height: 0.8rem;
    width: auto;
    border-radius: 100%;
    margin-top: 0.4rem;
}

.code_area_user .userinfo_area .info{
    width: 55%;
    float: left;
    padding-top: 0.4rem;
}

.code_area_user .userinfo_area .nicename{
    font-weight: bold;
    font-size: 0.3rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.code_area_user .agentcode_area{
    height: 1.5rem;
    font-size: 0.2rem;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.code_area_user .agentcode_area p{
    color: #646464;
    line-height: 0.6rem;
}

.code_area_user .agentcode_area .code{
    font-weight: bold;
    color: #000;
    font-size: 0.4rem;
}

.code_area_down{
    text-align: center;
}

.code_area_down input{
    width: 60%;
    height: 0.8rem;
    border-radius: 0.8rem;
    background: -moz-linear-gradient(top,  #A700FF 0%, #8000FF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A700FF), color-stop(100%,#8000FF));
    background: -webkit-linear-gradient(top,  #A700FF 0%,#8000FF 100%);
    background: -o-linear-gradient(top,  #A700FF 0%,#8000FF 100%);
    background: -ms-linear-gradient(top,  #A700FF 0%,#8000FF 100%);
    background: linear-gradient(to bottom,  #A700FF 0%,#8000FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A700FF', endColorstr='#8000FF',GradientType=0 );
    font-size: 0.2rem;
    color: #FFF;
}

/*下载页*/
.downapp_bg{
    width: ;
    background: url(../images/agentshare/downapp_bg.png) no-repeat center center fixed;
    background-size: auto;
}
.downapp_logo{
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    margin-top:6rem;
}
.downapp_logo img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.downapp_name{
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 0.4rem;
    margin-top: 0.4rem;
}
.downapp_desc{
    width: 100%;
    text-align: center;
    margin-top: 10rem;

}
.downapp_desc img{
    width: 60%;
    height: auto;
    max-width: 535px;
    max-height: 228px;
}

.downapp_btn{
    position: fixed;
    left: 25%;
    bottom: 15rem;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto;
    background: #e68186;
    color: #FFF;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.8rem;
}