<!DOCTYPE html>
<html>
	<head>
		<include file="appapi@head"/>
		<title>{:lang("用户等级说明")}</title>
		<link href='__STATIC__/appapi/css/level.css?t=1540809470' rel="stylesheet" type="text/css" >
	</head>
<body >
    <div class="line10"></div>
	<div class="explain">
		<div class="list">
			<table>
				<tr>
					<th>{:lang("用户等级")}</th>
					<th>{:lang("经验值")}</th>
					<th>{:lang("等级标识")}</th>
				</tr>
				<volist name="list" id="v">
				<tr>
					<td>V{$v['levelid']}</td>
					<td>{$v['level_up']}</td>
					<td><img src="{$v['thumb']}"></td>
				</tr>
				</volist>
			</table>
		</div>
	</div>
    <include file="appapi@footer"/>
</body>

</body>
</html>