<!DOCTYPE html>
<html style="font-size: 55.2px;">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
	<link type="text/css" rel="stylesheet" href="__STATIC__/appapi/css/liveauthority.css"/>
    <title>{:lang("直播权限说明")}</title>
</head>

<body class="liveauthority">

<div class="tips">{:lang("开启直播功能需要满足以下条件")}</div>
<div class="lists">
    <div class="lists_left fansnum fl"></div>
    <div class="lists_center fl">
        <div class="lists_title">{:lang("粉丝数量")}</div>
        <div class="lists_des">≥0{:lang("名")}</div>
    </div>
    <div class="lists_right fr">
        <span <if condition="$fans neq 0">class="ok"</if>>{:lang("已达成")}</span>
    </div>
</div>
<div class="lists">
    <div class="lists_left videonum fl"></div>
    <div class="lists_center fl">
        <div class="lists_title">{:lang("发布视频")}</div>
        <div class="lists_des">≥0个 ({:lang("审核通过的视频")})</div>
    </div>
    <div class="lists_right fr">
        <span <if condition="$video neq 0">class="ok"</if>>{:lang("已达成")}</span>
    </div>
</div>

</body>
</html>