<!DOCTYPE html>
<html>
<head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <link type="text/css" rel="stylesheet" href="__STATIC__/appapi/css/page.css?t=1"/>
    <title>{$info.title}</title>
</head>
<style>
    body{
        background:#111111;
        color:#FFF;
    }
    .news_content .news_bd{
        margin:0;
    }
</style>
<body>

<div class="container tc-main">
    <div class="page_content">
        {$info.content}
    </div>
</div>

</body>
</html>